/* CSS Document */
*,*::after,*::before {
    box-sizing: border-box;
}
:root {
    --main-color: #333;
    --background-color: #cccccc;
    --accent-color: white;
    --accent-background-color: rgba(255 255 255);
    --secondary-background-color: rgba(26 26 26 / .75);
    --shadow-color: rgba(0 0 0 / .5);
}
@font-face {
    font-family: 'MyWebFont';
    src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'quicksandlight';
    src: url('quicksand-variablefont_wght-webfont.woff2') format('woff2'),
         url('quicksand-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-family: " quicksandLight"," MyWebFont","Fallback, sans serif"," Quicksand500","BlinkMacSystemFont-apple-system","Segoe UI";
}

body {
    background-color: #bee5f5;
    margin: 0;
}

/* burger, spele en search*/
.hoofdmenu img {
    max-width: 100%;
    cursor: pointer;
    display: block
}
nav.hoofdmenu {
    background: linear-gradient(0deg, #5dcfdd, #67b5f4);
    display: flex;
    justify-content: space-between;
    align-items:center;
}

/*'lingo' titel*/
h1 {
    color: #363636;
    font-family: " quicksandLight";
    line-height: 1.125;
    display: flex;
    justify-content: center;

}

/*populaire spellen tekst*/
h2{
    font-family: "quicksandLight";
    font-size: 2em;
    color:var(--main-color);
}
h1:hover, .speelnu:hover{
    color: yellow ;
    transform: rotate(3deg);
}

/*homepage spellen menu*/
main {
    padding: 1.25rem 1.5rem;
}
main a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
main section ul {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1em;
}
main section ul li a img {
    box-shadow: 1px 2px 6px 2px;
    border-radius: 25px 20px 0px 0px;
    color: #333;
}
main section ul li a h3 {
    background-color: var(--accent-background-color);
    color: var(--accent-color);
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    border-radius: 1px 1px 25px 25px;
    padding: 16px 20px;
    color: #4a4a4a;
    justify-content: center;
    font-family: " quicksandLight";
    margin:0;
    box-shadow: 1px 2px 6px 2px;
}
main a:hover {
    box-shadow: 1px 2px 6px 7px;
    border-radius: 25px 20px 25px 25px;
    color: rgb(235, 244, 103);
    border-color: rgb(235, 244, 103);
}
main a:active, #buttonwalkthrough:hover {
    cursor: pointer;
}
section.maingame {
    padding: 1em;
}

/* stukje tekst home button en tekst onder header*/
ul.menunav {
    color: black; 
 }
.menunav {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    list-style-type: none;
    color: lightblue;
    text-decoration: none;
    font-family: " quicksandLight";
}
.menunav :hover {
    box-shadow: none;
    color: lightblue;
}

/*burgermenu button*/
#hamburgermenu {
    display: block;
    position: relative;
    z-index: 1;
}
#hamburgermenu input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
#hamburgermenu input:checked ~ ul {
    transform: none;
}
#hamburgermenu img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}


/*#menu = menu in de hamburgermenu*/
#menu {
    position: absolute;
    width: 300px;
    margin:auto;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    background-color:white;
    height:100vh;
}
ul#menu li a, #buttonwalkthrough {
    box-shadow: 4px 4px 20px 0 rgb(10 148 228 / 50%);
    border-radius: 3em;
    padding: 1em;
    font-size: 1em;
    border-color: rgba(103, 181, 244, .3);
    border-width: 1.5em;
    margin:auto;
    text-transform: uppercase;
    text-decoration: none;
    font-family: " quicksandLight";
}
ul#menu {
    padding: 1em;
    background: linear-gradient(0deg,  #d0dfe1, #00bbd4b7);
}
ul#menu li a {
    width:100%;
    color: white;
    text-align: center;
    background-color: rgba(103, 181, 244, 1);
    display: inline-block;
    margin: 0.5em 0;
    max-width: 97%;

}
ul#menu li a:hover {
    background-color: rgba(235, 244, 103, 0.747);
}

ul#menu li a:active {
    background-color: rgb(235, 244, 103);
}


/* lingo afbeelding*/
.maingame img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 4px 4px 20px 0 rgb(10 148 228 / 50%);
    border-radius: 1.5em;
}
/* button onder lingo afbeelding*/
.speelnu {
    display: flex;
    border-radius: 30em;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    max-width: 290px;
    background: linear-gradient(180deg, #fd0, #ffbe00);
    border-color: #fff;
    border-width: 3px;
    height: 4rem;
    color: #0a0a0a;
    margin: 2.5rem auto;
    text-transform: uppercase;
    box-shadow: 4px 4px 20px 0 rgb(10 148 228 / 50%);
    padding-top: 1rem;
    cursor: pointer;
    justify-content: center;
    padding: 1.5em;
    font-family: " quicksandLight";
}

/*star rating van internet*/
.rate {
    height: 46px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.rate>input:checked~label {
    color: #ffc700;
}
.rate:not(:checked)>label:hover,.rate:not(:checked)>label:hover~label {
    color: #deb217;
}
.rate>input:checked+label:hover,.rate>input:checked+label:hover~label,.rate>input:checked~label:hover,.rate>input:checked~label:hover~label,.rate>label:hover~input:checked~label {
    color: #c59b08;
}
.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}
.rate:not(:checked)>label {
    width: 1em;
    overflow: hidden;
    cursor: pointer;
    font-size: 30px;
    color: rgb(163, 161, 161);
}
.rate:not(:checked)>label:before {
    content: '★';
}

/*like, dislike en share button*/
.driebuttons {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em;
}
main .driebuttons a:hover {
    border-radius: 100%;
}
.driebuttons a{
    border-color: #fff;
    border: 3px solid #ffffff;
    padding: 0;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 10em;
    box-shadow: 4px 4px 20px 0 rgb(10 148 228 / 50%);
    justify-content: center;
    background-color: white;
    align-items: center;
}
.driebuttons img {
    width: 1.75em;
}
.driebuttons a, .game-single{
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

/*active state van like share en dislike button en games*/
.driebuttons a:active, .game-single:active{
    animation-name: driebuttons-active;
    animation-timing-function: ease;
}

/*jump animatie hover 3 buttons like dislike en share*/
@keyframes driebuttons-active {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-10px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

/*buttonwalkthrough hover animatie*/
@keyframes buttonwalkthrough-animation {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(1.1);
        background-color: rgb(96, 94, 221);
        color: white;

    }
    100% {
        transform:scale(1);
    }
}

/*stuk tekst boven buttonwalkthrough*/
p{
    font-family: " quicksandLight";
    font-weight: lighter;
}

/*buttonwalkthrough onder stuk tekst*/
#buttonwalkthrough:hover {
    animation-name:buttonwalkthrough-animation;
    animation-duration:1s;
    /* de animatie speelt 5x en stopt dan */
    animation-iteration-count:5;
}
#buttonwalkthrough {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    color: #5392e5;
    background-color: rgba(103, 181, 244, .05);
    max-width: 15em;
}
#buttonwalkthrough img {
    width: 20px;
    height: auto;
}

/*tekst <p> plus walkthrough button*/
.textcontainer {
    text-align: center;
    padding: 1.25rem;
    border-radius: 10px;
    color: #4a4a4a;
    background: #fff;
    box-shadow: 4px 4px 20px 0 rgb(10 148 228 / 50%);
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    font-family: " quicksandLight";
}
/*grid 2e pagina*/
@media only screen and (min-width: 768px) {
    main.game {
        padding: 1.25rem 1.5rem;
        display:grid;
        grid-template-columns: 60% 40%;
    }

    main.game nav:first-child{
        grid-column: 1 / 3;
    }
}
