/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
  --main-color:#333;

  --background-color: #cccccc;
  
  --accent-color:white;
  --accent-background-color:rgba(255 255 255 );
  --secondary-background-color:rgba(26 26 26 / .75);
  --shadow-color:rgba(0 0 0 / .5);
}

html{
  font-family:"Quicksand500,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,ui-sans-serif,sans-serif";
}

body{
  background-color: #bee5f5;
  margin:0;
  
 }

header{
  background: linear-gradient(0deg,#5dcfdd,#67b5f4);
  position:sticky;
  padding: auto;
  top:0;
  z-index:2;
  display: flex;
  flex-direction: column;
 
}
input {
  
display: hidden;
}
input:hover{
display: none;

}

header a{
  display:flex;
  justify-content: space-between;

  padding: .5em;
  display:flex
 }
 
 
  header a:nth-of-type(1){
justify-content: flex-start;

}

header a:nth-of-type(2){ 
  height: 3em;
  align-self: center;
}

header a:nth-of-type(3){
justify-content: flex-end;
height: 2.75em;

align-self: center;

  
}

section:nth-of-type(2):hover span {
  background-color:var(--accent-background-color);
  border-radius:2em;
  color:var(--accent-color);

  color:white;
  cursor:pointer;
 
}


nav{
display: flex;
justify-content: space-between;

}
img {
  max-width: 100%;
}

main{
  padding:1.25rem 1.5rem;

}

main section ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns:repeat(auto-fit, 14em);


  gap:1.25em;
  margin:1em;
}

main a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  
}


main section ul li a span{

  background-color:var(--accent-background-color);
  color:var(--accent-color);
  font-size: .8em;
  font-weight: bold;
  text-align: center ;
  border-radius:  1px  1px  25px  25px;
  padding: 16px 20px;
  color: #4a4a4a;
justify-content: center;
font-family:"Segoe UI";


}
main section ul li a img, span{ 
  box-shadow: 1px 2px 6px 2px ;
border-radius: 25px 20px 0px 0px;
box-shadow: #333;
 }
main a:hover{
  box-shadow: 1px 2px 6px 2px ;
  border-radius: 25px 20px 25px  25px;
  box-shadow: orange;


}
main a{
  color:var(--main-color);  
  
 
  
}

main span:last-child(1){ 

  animation-name: lingoslide;
}

@keyframes lingoslide {
  }

main a:hover{
border-color: orange;
  color: orange;

}

main a span:hover{

  box-shadow: orange;

}


main a:active{

  transform: scale(1.5);
  cursor: pointer;
  padding: 2em;
 
}


