/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
  --main-color:#333;

  --background-color: #cccccc;
  
  --accent-color:white;
  --accent-background-color:rgba(255 255 255 );
  --secondary-background-color:rgba(26 26 26 / .75);
  --shadow-color:rgba(0 0 0 / .5);

  
  
}


header{
  background: linear-gradient(to right, #24ade6, #97c4e4, #b7e2f4);

  position:sticky;
  top:1px;
  z-index:5;

  text-shadow: 2px 2px 4px #000000;
  box-shadow: 8px 4px 8px;
}


nav {
  display: flex;
  justify-content: space-between;
  margin:auto;
  width: 100%;
  
  color: #ffd100;
 }

header nav h1{
  



 }
 header nav a img{
  margin: 1em;
 
 }
 
body {
  margin: 0;
}

img {
  max-width: 100%;
}

main{

  background-image: url(../images/backgroundnature.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
 
}


main section ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin:1em;
}

main section ul li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}


main section ul li a span{

  background-color:var(--accent-background-color);
  color:var(--accent-color);
  font-size: 2em;
  text-align: center ;
  border-radius:  1px  1px  50px  50px;
  padding: 16px 20px;
  color: #000000;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;

}

main section ul li img{ 
  box-shadow: 10px 8px 8px;
border-radius: 25px 20px 0px 0px;
box-shadow: 10px 8px 8px;
display: flex;
}

html{
  font-family:"roboto";
  
}

body{
  background-color: #bee5f5;
 }




